{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <h1 class="page-title">Incident List</h1>
</div>
<div class="btn-list text-right">
</div>
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Incidents</h3>
      <div class="card-options">
        <a href="{% url 'new_incident_form' %}" class="btn btn-outline-primary"><i class="fe fe-plus mr-2"></i>Add New
          Incident</a>
      </div>
    </div>
    <div class="table-responsive">
      <table id="table" class="table card-table table-vcenter text-nowrap">
      </table>
    </div>
  </div>
</div>

<script>
  db.collection("incidents")
    .onSnapshot(function (querySnapshot) {
      $('#table').empty()

      if (querySnapshot.empty === true) {
        $('#table').append('<thead>< tbody ><tr><td class="text-center">No incidents</td></tr></tbody ></thead >')
      } else {
        $('#table').append('<thead><tr><th class="w-1">ID</th><th>Area</th><th>Level</th><th>Incident Type</th><th>Created</th><th>Status</th><th></th></tr></thead>')
        querySnapshot.forEach(function (doc) {
          var incident_id = doc.data().incident_id;
          var incident_area = doc.data().incident_area;
          var incident_level = doc.data().incident_level;
          var incident_type = doc.data().incident_type;
          var incident_created_at_date = doc.data().incident_created_at_date;
          var incident_created_at_time = doc.data().incident_created_at_time;
          var incident_status = doc.data().incident_status;

          if (incident_level === 'CAT2') {
            incident_level = '<td><span class="status-icon bg-warning"></span>' + incident_level + '</td>';
          } else {
            incident_level = '<td><span class="status-icon bg-red"></span>' + incident_level + '</td>';
          }

          if (incident_status === 'Reported') {
            incident_status = '<td><span class="status-icon bg-danger"></span>' + incident_status + '</td>';
          } else {
            incident_status = '<td><span class="status-icon bg-warning"></span>' + incident_status + '</td>';
          }

          var url_mask = "{% url 'incident_details' incident_id=1234 %}".replace(/1234/, incident_id.toString());
          var details_button = '<td class="text-right">'
            + '<a href=' + url_mask + ' class="btn btn-outline-info btn">Details</a>'
            + '</td>'

          var incident = '<tr>'
            + '<td><span class="text-muted text-centre">' + incident_id + '</span></td>'
            + '<td>' + incident_area + '</td>'
            + incident_level
            + '<td>' + incident_type + '</td>'
            + '<td><div class="row">' + incident_created_at_date + '</div>'
            + '<div class="row">' + incident_created_at_time + '</div>' + '</td>'
            + incident_status
            + details_button
            + '</tr>'

          console.log("Current data: " + incident_id + incident_level + incident_type + incident_status);
          $('#table').append(incident);
        });
      }
    });
</script>
{% endblock %}