{% extends 'base.html' %}

{% block title %}
<title>#123456 Details - StrawHat CMS</title>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1 class="page-title">Incident #123456</h1>
</div>
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">#123456 @ 32 Tanglin Halt Road #04-204 Singapore 142032</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- map -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="map">
                <div class="map-content" id="map"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end map -->
        <hr>
        <!-- type of incident badge -->
        <div class="col-12">
          <h4>Type of Incident:</h4>
        </div>
        <div class="col-12">
          <span class="stamp stamp-md bg-orange">
            <p>Fire</p>
          </span>
          <span class="stamp stamp-md bg-dark-gray">
            <p>Haze</p>
          </span>
          <span class="stamp stamp-md bg-red">
            <p>Terrorist</p>
          </span>
        </div>
        <!-- end type of incident -->
        <hr>
        <!-- Reporters -->
        <div class="col-12">
          <h4>Reporters:</h4>
        </div>
        <!-- 1st card -->
        <div class="col-md-6 col-xl-4">
          <div class="card">
            <div class="card-status bg-red"></div>
            <div class="card-header">
              <h3 class="card-title">Robert Quay</h3>
              <div class="card-options">
                <div class="dropdown">
                  <button class="btn btn-outline-info btn-sm dropdown-toggle" data-toggle="dropdown">Manage</button>
                  <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Handling</a>
                    <a href="#" class="dropdown-item">Closed</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-alert alert alert-danger mb-0">
              Reported
            </div>
            <div class="card-body">
              <p>Assistance Requested: </p>
              <div class="tags">
                <span class="tag tag-red">Ambulance</span>
                <span class="tag tag-indigo">Da Police</span>
              </div>
              <hr>
              <p>Unit Dispatched:</p>
              <div class="tags">
                <span class="tag tag-red">Ambulance #1234</span>
              </div>
              <hr>
              <p>Description: </p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, ratione sed magni accusamus suscipit deleniti consequuntur ea pariatur quo placeat.</p>
            </div>
          </div>
        </div>
        <!-- end 1st card -->
        <!-- 2st card -->
        <div class="col-md-6 col-xl-4">
          <div class="card">
            <div class="card-header">
              <div class="card-status bg-primary"></div>
              <h3 class="card-title">Yueying Ooi</h3>
              <div class="card-options">
                <div class="dropdown">
                  <button class="btn btn-outline-info btn-sm dropdown-toggle" data-toggle="dropdown">Manage</button>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Handling</a>
                      <a href="#" class="dropdown-item">Closed</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-alert alert alert-primary mb-0">
              Handling
            </div>
            <div class="card-body">
              <p>Assistance Requested: </p>
              <div class="tags">
                <span class="tag tag-orange">Fire Truck</span>
              </div>
              <hr>
              <p>Unit Dispatched:</p>
              <div class="tags">
                <span class="tag tag-orange">FireTruck #1234</span>
              </div>
              <hr>
              <p>Description: </p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, ratione sed magni accusamus suscipit
                deleniti consequuntur ea pariatur quo placeat.</p>
            </div>
          </div>
        </div>
        <!-- end 2st card -->
        <!-- 3st card -->
        <div class="col-md-6 col-xl-4">
          <div class="card">
            <div class="card-status bg-success"></div>
            <div class="card-header">
              <h3 class="card-title">Robert Quay</h3>
              <div class="card-options">
                <div class="dropdown">
                  <button class="btn btn-outline-info btn-sm dropdown-toggle" data-toggle="dropdown">Manage</button>
                  <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Handling</a>
                    <a href="#" class="dropdown-item">Closed</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-alert alert alert-success mb-0">
              Closed
            </div>
            <div class="card-body">
              <p>Assistance Requested: </p>
              <div class="tags">
                <span class="tag tag-indigo">Da Police</span>
              </div>
              <hr>
              <p>Unit Dispatched:</p>
              <div class="tags">
              </div>
              <hr>
              <p>Description: </p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, ratione sed magni accusamus suscipit
                deleniti consequuntur ea pariatur quo placeat.</p>
            </div>
          </div>
        </div>
        <!-- end 3st card -->
      </div>
    </div>
  </div>
</div>

<!-- gmaps script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq7oU7xRa3gGKvhvXJ5Y_oXZdPfgf64aU&callback=initMap" async
  defer></script>
<script>
  var singapore = { lat: 1.3521, lng: 103.8198 }
  var markerPosition = { lat: 1.30244, lng: 103.798 }
  
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: singapore,
      zoom: 12
    });
    
    var marker = new google.maps.Marker({
      position: markerPosition,
      map: map,
      title: 'My House'
    });
  }
</script>
<!-- end gmaps script -->
{% endblock %}