{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Map - StrawHat CMS</title>
{% endblock %}

{% block activeTab %}
<li class="nav-item">
  <a href="{% url 'dashboard' %}" class="nav-link"><i class="fe fe-home"></i>Dashboard</a>
</li>
<li class="nav-item">
  <a href="{% url 'map' %}" class="nav-link active"><i class="fe fe-map"></i>Map</a>
</li>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1 class="page-title">Map Of Incidents</h1>
</div>
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Incident Map</h3>
      <div style="margin-left: 2em; margin-top: 0.7em">
          <input type="checkbox" name="filter" id="CAT1" class='chk-btn' style="margin-left:0.5em">
          <label for='CAT1' style="font-size: 1.1em;" >CAT1</label>
        
          <input type="checkbox" name="filter" id="CAT2" class='chk-btn' style="margin-left:0.5em">
          <label for='CAT2' style="font-size: 1.1em;">CAT2</label>
        
          <input type="checkbox" name="filter" id="weather" class='chk-btn' style="margin-left:0.5em">
          <label for='weather' style="font-size: 1.1em;">WEATHER</label>

          <input type="checkbox" name="filter" id="dengue" class='chk-btn' style="margin-left:0.5em">
          <label for='dengue' style="font-size: 1.1em;">DENGUE</label>
        </div>
    </div>
    <div class="card-body">
      <div class="map">
        <div class="map-content" id="map"></div>
      </div>
    </div>
  </div>
</div>

<script async defer 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIPegc31Eqsj8iy1cqAGC6An5wZXdpek4&callback=initMap">
</script>


<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>
  //create filter list
  var filters = {CAT1:false, CAT2:false, weather:false, dengue:false}
  var displayed = {CAT1:false, CAT2:false, weather:false, dengue:false}

  var incidentMarkers = [];
  var weatherMarkers = [];
  var dengueClusters = [];
  var map;

  //init check boxes
  var checkbutton1 = document.getElementById("CAT1");
  var checkbutton2 = document.getElementById("CAT2");
  checkbutton1.checked = true;
  checkbutton2.checked = true;

  //init filters
  filters["CAT1"] = true;
  filters["CAT2"] = true;

  //draw markers
  updateMap();

// Functions:
//------------------------------------------------------------------------------------------------
  //manage filters
  var update_filter = function(checkbutton) {
    filters[checkbutton.id] = checkbutton.checked;
    updateMap();
  }
  
  $('input[name=filter]').change(function (e) {
    update_filter(this);
  })

  function updateMap() {
    if(filters["weather"] && !displayed["weather"]){
      // weatherMarkers
      getAllWeather(getDateTime(), newWeatherMarker);
      displayed["weather"] = true;
    }
    else if(!filters["weather"] && displayed["weather"]){
      deleteMarkers(weatherMarkers)
      weatherMarkers = []
      displayed["weather"] = false;
    }

    if((filters["CAT1"] && !displayed["CAT1"]) || (!filters["CAT1"] && displayed["CAT1"])){
      updateIncident();
      displayed["CAT1"] = !displayed["CAT1"];
    }
    if((filters["CAT2"] && !displayed["CAT2"]) || (!filters["CAT2"] && displayed["CAT2"])){
      updateIncident();
      displayed["CAT2"] = !displayed["CAT2"];
    }

    if(filters["dengue"] && !displayed["dengue"]){
      $.getJSON("{% static './assets/denguehotspots.json' %}", function (data) {
        dengueClusters = map.data.addGeoJson(data);
      });
      displayed["dengue"] = true;
      // Loading dengue clusters data
      // map.data.loadGeoJson(
      // "{% static './assets/denguehotspots.json' %}"
      // );
    }
    else if(!filters["dengue"] && displayed["dengue"]){
      for(var i=0; i<dengueClusters.length; i++){
        map.data.remove(dengueClusters[i]);
      }
      dengueClusters = [];
      displayed["dengue"] = false;
    }
  }

  function initMap() {
    // Map options
    var options = {
      zoom: 12,
      center: { lat: 1.3521, lng: 103.8198 } // Singapore
    }
    // New map
    map = new google.maps.Map(document.getElementById('map'), options);
  }

  // initialize markers
  // getAllWeather(getDateTime(), newWeatherMarker);
  // updateIncident();
  
  function updateIncident(){
    // incidentMarkers
    db.collection("incidents")
      .onSnapshot(function (querySnapshot) {
        // delete markers from map
        deleteMarkers(incidentMarkers);
        incidentMarkers = [];

        // create incidentMarkers
        querySnapshot.forEach(function (doc) {
          var id = doc.data().incident_id;
          var incident_level = doc.data().incident_level;
          var incident_type = doc.data().incident_type;
          var incident_created_at_date = doc.data().incident_created_at_date;
          var incident_created_at_time = doc.data().incident_created_at_time;
          var incident_status = doc.data().incident_status;
          var incident_lat = parseFloat(doc.data().incident_lat);
          var incident_lng = parseFloat(doc.data().incident_lng);
          var incidentIcon = getIncidentIcon(incident_level);
          //apply filter
          if((incident_level == "CAT1" && filters["CAT1"]) || (incident_level == "CAT2" && filters["CAT2"])){
            var marker = new google.maps.Marker({
              position: { lat: incident_lat, lng: incident_lng },
              map: map,
              icon: incidentIcon,
              content:"Incident ID: " + id + "<br /><br />" + 
                "Incident Type: " + incident_type + "<br /><br />" +
                "Status: " + incident_status + "<br /><br />"+
                "Creation Timestamp: " + incident_created_at_time +" " + incident_created_at_date + "<br /><br />",
              title: 'Incidents',
            });
            createInfoWindow(marker);
            incidentMarkers.push(marker);
          }     
        });
      });
  }

    function createInfoWindow(marker) {
        // wMarkers.push(weatherMarkers);
        marker.infoWindow = new google.maps.InfoWindow({
          content: marker.content
        });
        google.maps.event.addListener(marker, 'click', function () {
          this.infoWindow.open(map, marker);
        });
      }
  
  function deleteMarkers(markers) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
  }
  
  // addMarker Function
 /* function addMarker(props, markers_on_map) {
    var marker = new google.maps.Marker({
      position: props.coords,
      map: map,
      icon: props.iconImage,
      content: props.content
    });

    // to display infoWindow
    var infoWindow = new google.maps.InfoWindow({
      content: props.content
    });
    marker.addListener('click', function () {
      infoWindow.open(map, marker);
    });
    markers_on_map.push(marker);
  }*/


  function getWeatherIcon(time, weather_condition) {
    //set iconImage using time & weather condition inputs
    var icon = 'https://i.imgsafe.org/21/21c939650b.png';
    var time = getDateTime();
    //console.log(typeof (time));
    time = parseInt(time.substr(11, 12));
    //console.log(time);
    if (time >= 7 && time <= 19) {
      switch (weather_condition) {
        case "Rain":
          icon = 'https://i.imgsafe.org/21/21bd07b663.png';
          break;
        case "Light Showers":
          icon = 'https://i.imgsafe.org/21/21d3cee665.png';
          break;
          case "Showers":
          icon = 'https://i.imgsafe.org/21/21d3cee665.png';
          break;
          case "Partly Cloudy (Day)":
          icon = 'https://i.imgsafe.org/21/21e707ef33.png';
          break;  
        default:
          icon = 'https://i.imgsafe.org/21/21c939650b.png';//sun
      }
    }
    //night
    else {
      switch (weather_condition) {
        case "Rain":
          icon = 'https://i.imgsafe.org/21/21bd07b663.png';
          break;
          case "Heavy Thundery Showers with Gusty Winds":
          icon = 'https://i.imgsafe.org/21/21afe7c290.png';
          break;        
          case "Showers":
          icon = 'https://i.imgsafe.org/21/21d3cee665.png';
          break; 

        case "Light Showers":
          icon = 'https://i.imgsafe.org/21/21b9b68902.png';
          break;
          case "Partly Cloudy (Night)":
          icon = 'https://i.imgsafe.org/21/21de66f4d9.png';
          break;
          
        default:
          icon = 'https://i.imgsafe.org/21/21d7c1e9b1.png'; //moon
      }
    }
    return icon;
  }

  function getIncidentIcon(cat) {
    var icon = 'https://i.imgsafe.org/4c/4cee807259.png';
    if (cat == 'CAT1') {
      var icon = 'https://i.imgsafe.org/4c/4cee3c83da.png';
    }
    return icon;
  }

  function getAllWeather(time, callback) {
    parameter = "";
    if (time.length > 11) {
      parameter = "date_time"
    }
    else {
      parameter = "date"
    }
    var url = "https://api.data.gov.sg/v1/environment/2-hour-weather-forecast"
    var xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        //console.log(JSON.parse(this.responseText))
        var allData = JSON.parse(this.responseText)
        allData = reorganizeData(allData)
        if (typeof callback === "function") {
          // apply() sets the meaning of "this" in the callback
          callback(allData);
        }
      }
    };
    xhttp.open("GET", url + "?" + parameter + "=" + time, true)
    xhttp.send()
  }


  function reorganizeData(allData) {
    var result = []
    var arr = allData.area_metadata
    for (var i = 0, len = arr.length; i < len; i++) {
      result.push(arr[i])
    }
    for (i = 0, len1 = result.length; i < len1; i++) {
      forecasts = allData.items[0].forecasts
      for (var j = 0, len2 = forecasts.length; j < len2; j++) {
        if (forecasts[j].area == result[i].name) {
          result[i].forecast = forecasts[j].forecast
        }
      }
      result[i].timeStamp = allData.items[0].timestamp
    }
    return result
  }

  function newWeatherMarker(weather) {
    for (var i = 0, len = weather.length; i < len; i++) {
      var myLat = weather[i].label_location.latitude;
      var myLng = weather[i].label_location.longitude;
      createWeatherMarker(i)

      function createWeatherMarker(i) {
          weatherMarkers[i] = new google.maps.Marker({
          position: { lat: parseFloat(myLat), lng: parseFloat(myLng) },
          map: map,
          title: 'Weather',
          content: "Location: "+ weather[i].name +  "<br /><br />"  + "Weather: " + weather[i].forecast +  "<br /><br />" + "Timestamp: " + getDateTimeForMap() ,
          icon: getWeatherIcon(weather[i].timeStamp, weather[i].forecast),
        });
        // wMarkers.push(weatherMarkers);
        weatherMarkers[i].infoWindow = new google.maps.InfoWindow({
          content: weatherMarkers[i].content
        });
        google.maps.event.addListener(weatherMarkers[i], 'click', function () {
          this.infoWindow.open(map, weatherMarkers[i]);
        });
      }
    }
  }

 


  function getDateTime() {
    var today = new Date();
    var month = 1+today.getMonth();
    if (month < 10) {
      month = "0" + month;
    }
    var date = today.getDate();
    if (date < 10) {
      date = "0" + date;
    }
    var date = today.getFullYear() + '-' + month + '-' + date;

    hour = today.getHours();
    if (hour < 10) {
      hour = "0" + hour;
    }
    minute = today.getMinutes();
    if (minute < 10) {
      minute = "0" + minute;
    }
    second = today.getSeconds();
    if (second < 10) {
      second = "0" + second;
    }
    var time = hour + ":" + minute + ":" + second;

    dateTime = date + 'T' + time;

    return dateTime;
    //2019-03-07T07:56:25
  }

  function getDateTimeForMap() {
    var today = new Date();
   // today = today.toString();
   // today = today.substring(0, 11);
    //console.log(today);
    var month = today.getMonth();
    var month_in_words = [ "January", "February", "March", "April", "May", "June", 
           "July", "August", "September", "October", "November", "December" ];
    month=month_in_words[month];
    
    var date = today.getDate();

    var date =  date + ' ' + month + ' ' +  today.getFullYear();

    hour = today.getHours();
    if (hour < 10) {
      hour = "0" + hour;
    }
    minute = today.getMinutes();
    if (minute < 10) {
      minute = "0" + minute;
    }
    var time = hour + ":" + minute ;

    dateTime = time + " " + date;

    return dateTime;

  }

</script>
{% endblock %}